body {
    background-image: url(001.jpg);
    text-align: center;
    font-family: Arial, sans-serif;

}

.wheel-container {
  position: absolute;
  top: 150px;         
  left: 25%;
  transform: translateX(-50%);

}

#wheel {
    border: 5px solid #333;
    border-radius: 50%;
}

/* 🔺固定的箭頭指針🔺 */
.arrow-left {
  position: absolute;
  top: 340px;         
  left: 100%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid transparent; /* 上邊框，設為透明 */
  border-bottom: 15px solid transparent; /* 下邊框，設為透明 */
  border-right: 30px solid black; /* 右邊框，設為紅色 */
}

.標1 {
	font-family: "ㄅ字嗨注音黑體 Heavy";
	font-size: 80px;
	line-height: normal;
	color: #000000;
	position: absolute;
	top: 170px; 
}

.標2 {
	font-family: "ㄅ字嗨注音黑體 Heavy";
	font-size: 80px;
	line-height: normal;
	color: #000000;
	position: absolute;
	top: 280px; 

}




